/*CSS for mobile*/

body{
    background-color: black;
}
.video-div{
    opacity: 0.5;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
    filter: brightness(50%);
    display: none;
}

.topnav {
    overflow: hidden;
    position: relative;
    top: 0;
  }
  
  .topnav #myLinks {
    display: none;
  }
  
  .topnav a {
    color: #9B85A7;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    display: block;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 30px;
  }
  
  .topnav a.icon {
    display: block;
    position: absolute;
    right: 0;
    top: 0;
    color: white;
  }
  
  
  .active {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 50px;
    color: #9B85A7;
    font-style: regular;


  }

  .title{
    position: absolute;
    right: 30%;
    color: white;
    top: 35%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

  }
  
  .ScrollImg{
    grid-area: ScrollImg;
    position: absolute;
    bottom: 50px;
    right: 45%;
    
 }
  .ScrollText{
    grid-area: ScrollText;
    color: #FFFFFF;
    font-family: Trebuchet;
    font-size: 10px;
    position: absolute;
    bottom: 20px;
    right: 42%;
    text-align: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
 }

 .header-list{
    display: none;
 }





